{% extends 'base.html' %}
{% block Hbody %}

<body>
<div class="container">
	<h2>Hei og velkommen<small> til oss</h2></br>
		<p>Dette er hjemmesiden til Alpinbakken - Venlgist registrer deg <a href="login">her</a>
		eller se rundt på hjemmesiden vår. Husk at du må være innlogget for å 
		få bestille adgangskort eller utstyr til leie.
		</p>
		
		
	<blockquote class="blockquote-reverse">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
		Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
		Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
		Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
		imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
		Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, 
		porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, 
		feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. 
		Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. 
		Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem 
		neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio 
		et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. 
		Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. 
		Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
		<footer>Han som står på ski sier<cite title="Source Title"> Lorem ipsum</cite></footer>
	</blockquote>	
	
	{% with %}	
	<center><h3>Alpinbakken holder til her:</h3>
		{% set location=(62.611389,9.649672) %}
		{% set style="width:500px;height:500px;"%}

		{{
			googlemap(
        "simple-map",
        location.0, location.1,
        markers=[location,],
        style=style
        )
		}}

	{% endwith %}
</center>
</div>
</body>
{% endblock %}